# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

# vercel
.vercel

# claude code
.claude/

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
